target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
test-output/
test-output/index.html
test-output/emailable-report.html
test-output/Default suite/Default test.html